<!DOCTYPE html>
<html>
<head>
    <title>Discovery Service</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ static_uri }}/static/discovery/style.css" type="text/css">

	<meta charset="utf-8">
</head>
<body>

<header class="header">
    <a href="http://101companies.org/resources?format=html">
        <div class="container">
            <h1>101companies Discovery Service</h1>
        </div>
    </a>
</header>

{% if not name == 'Namespace' %}
    <div class="alert alert-success text-center position-indicator">
        <b style="font-size: 115%;">Locator:</b>
        <span id="locator-path">
            {{ uri.replace('http://101companies.org/resources', '').replace('http://localhost/services/discovery', '')[1:].decode('utf_8') }}
        </span>
        <a id="copy-button" data-clipboard-target="locator-path" title="Copy into Clipboard" class="pull-right btn btn-mini"><i class="icon-share"></i></a>
    </div>
{% endif %}


<div class="container">
    <div id="content" class="row">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <a href="http://101companies.org/wiki/Information:Discover">What's the Discovery Service?</a> <br />
        Switch from HTML format to <a href="{{ uri.decode('utf_8') }}">JSON format</a> or <a href="{{ uri.decode('utf_8') }}?format=rdf">RDF format</a>.<br />

        Powered by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
        <a href="http://jquery.com/">JQuery</a> and <a href="http://masonry.desandro.com/">Masonry</a>
    </footer>

</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ static_uri }}/static/discovery/js/libs/jquery.masonry.min.js"></script>
<script src="{{ static_uri }}/static/discovery/js/libs/ZeroClipboard.min.js"></script>
<script src="{{ static_uri }}/static/discovery/js/base.js"></script>
</body>
</html>