<!DOCTYPE html>
<html>
<head>
    <title>Discovery Service</title>
</head>
    <body>
        <h3><a href="https://github.com/101companies/101worker/tree/master/services/discovery">101companies Discovery service</a></h3>

        <p>
            <b>Classifier: </b>
            {{classifier}}
        </p>

        <p>
            <b>Github: </b>
            <a href="{{github}}">{{github}}</a>
        </p>

        <p>
            <b>Fragments:</b>
            {% if fragments == [] %}
                None
            {% else %}
                <ul>
                    {% for fragment in fragments %}
                        <li><a href="{{fragment.resource}}?format=html">{{fragment.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>

        {% if content %}
            <p>
                <b>Content:</b>
                <pre>{{content}}</pre>
            </p>
        {% endif %}
    </body>
</html>