<!DOCTYPE html>
<html>
<head>
    <title>Discovery Service</title>
</head>
    <body>
        <h3><a href="https://github.com/101companies/101worker/tree/master/services/discovery">101companies Discovery Service</a></h3>
        <p>
            <b>Classifier:</b>
            Fragment ({{classifier}})
        </p>
        <p>
            <b>Fragments:</b>
            {% if fragments == [] %}
                None
            {% else %}
                <ul>
                    {% for fragment in fragments %}
                        <li>
                            <a href="{{fragment.resource}}?format=html">
                                {{fragment.name}}
                                {% if fragment.has_key('index') %}
                                    ({{fragment.index}})
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <p>
            <b>Content:</b>
            <pre>{{content}}</pre>
        </p>
    </body>
</html>