{% extends "base.html" %}
{%  block content %}
    {% include "snippets/general.html" %}

    <div class="span5 box info-box red-top">
        <div class="box-header">
            Contains
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Fragments:</b>
                {% if fragments == [] %}
                    None
                {% else %}
                    <ul>
                        {% for fragment in fragments %}
                            <li><a href="{{fragment.resource}}?format=html">{{fragment.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="span5 box info-box turquoise-top">
        <div class="box-header">
            Contributors
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Initiator</b>
                Testperson
            </div>
            <div class="box-content-fragment">
                <b>Contributors </b>
                <ul>
                    <li>Person1</li>
                    <li>Person2</li>
                </ul>
            </div>
        </div>
    </div>

    {% if content %}
        <div class="span11 box info-box yellow-top">
            <div class="box-header">
                Content
            </div>
            <div class="box-content">
                <pre>{{content}}</pre>
            </div>
        </div>
    {% endif %}
{% endblock %}