{% extends "base.html" %}
{% block content %}
    {%  include "snippets/general.html" %}

    <div class="span5 box info-box red-top">
        <div class="box-header">
            Contains
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Folders </b>
                {% if folders == [] %}
                    None
                {% else %}
                    <ul>
                        {% for folder in folders %}
                            <li><a href="{{ folder.resource }}?format=html">{{ folder.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="box-content-fragment">
                <b>Files </b>
                {% if files == [] %}
                    None
                {% else %}
                    <ul>
                        {% for file in files %}
                            <li><a href="{{ file.resource }}?format=html">{{ file.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="span5 box info-box turquoise-top">
        <div class="box-header">
            People
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Initiator</b>
                My Initiator
            </div>
            <div class="box-content-fragment">
                <b>Contributors </b>
                <ul>
                    <li>Person 1</li>
                    <li>Person 2</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
