{% extends "base.html" %}
{% block content %}
    {% include "snippets/general.html" %}

    <div class="span5 box info-box red-top">
        <div class="box-header">
            Contains
			<a href="{{ back_uri }}/..?format=html" class="pull-right btn btn-danger btn-small"><i class="icon-arrow-left"></i> Back</a>
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Fragments:</b>
                {% if fragments == [] %}
                    None
                {% else %}
                    <ul>
                        {% for fragment in fragments %}
                            <li>
                                <a href="{{fragment.resource}}?format=html">
                                    {{fragment.name}}
                                    {% if fragment.has_key('index') %}
                                        ({{fragment.index}})
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "snippets/persons.html" %}

    {% include "snippets/content.html" %}
{% endblock %}