a {
	margin-right: 5px;
}

a.size-0{
   font-size: 15px;
   color: red;
  line-height: 25px;
}

a.size-1{
   font-size: 22px;
   color: orange;
}

a.size-2{
   font-size: 25px;
   color: magenta;
}

a.size-3{
   font-size: 32px;
   color: blue;
}

a.size-4{
   font-size: 35px;
   color: green;
}

a.size-5{
   font-size: 50px;
   color: #AA1B47;
}

a.size-6{
   font-size: 75px;
   color: black;
}
