modules/igraph/bin
.classpath
modules/.metadata
modules/igraph/build
modules/igraph/dist
*.log
pid
modules/wiki2tex/tex/content/data/categories.tex
modules/wiki2tex/tex/content/data/features.tex
modules/wiki2tex/tex/content/data/implementations.tex
modules/wiki2tex/tex/content/data/languages.tex
modules/wiki2tex/tex/content/data/pages.tex
modules/wiki2tex/tex/content/data/technologies.tex
utils.pyc
pipeline.pyc
document.pyc
modules/wikitools/tex/sources
