*.idea
*.*~
modules/linked_data/demos.iml
modules/igraph/bin
.classpath
modules/.metadata
modules/igraph/build
modules/igraph/dist
*.log
pid
modules/wiki2tex/tex/content/data/categories.tex
modules/wiki2tex/tex/content/data/features.tex
modules/wiki2tex/tex/content/data/implementations.tex
modules/wiki2tex/tex/content/data/languages.tex
modules/wiki2tex/tex/content/data/pages.tex
modules/wiki2tex/tex/content/data/technologies.tex
utils.pyc
pipeline.pyc
document.pyc
modules/wikitools/tex/sources
modules/wiki2json/.idea
modules/wiki2json/target
jsonExtractor.iml
dump.json
/services/.idea/codeStyleSettings.xml
/services/.idea/encodings.xml
/services/.idea/inspectionProfiles/profiles_settings.xml
/services/.idea/libraries/sass_stdlib.xml
/services/.idea/misc.xml
/services/.idea/modules.xml
/services/.idea/.name
/services/.idea/other.xml
/services/.idea/scopes/scope_settings.xml
/services/.idea/services.iml
/services/.idea/testrunner.xml
/services/.idea/vcs.xml
/services/.idea/workspace.xml
/modules/refineTokens/Helper.pyc
/modules/refineTokens/Oracle.pyc
/modules/refineTokens/PreProcessing.pyc
/modules/refineTokens/Tokenization.pyc
/modules/repo2charts/charts.pyc
/modules/repo2charts/metrics.pyc
/modules/build101/.idea/build101.iml
/modules/build101/.idea/codeStyleSettings.xml
/modules/build101/.idea/dictionaries/martin.xml
/modules/build101/.idea/encodings.xml
/modules/build101/.idea/misc.xml
/modules/build101/.idea/modules.xml
/modules/build101/.idea/.name
/modules/build101/.idea/other.xml
/modules/build101/.idea/scopes/scope_settings.xml
/modules/build101/.idea/testrunner.xml
/modules/build101/.idea/vcs.xml
/modules/build101/.idea/workspace.xml
/modules/pull101repo/.idea/codeStyleSettings.xml
/modules/pull101repo/.idea/encodings.xml
/modules/pull101repo/.idea/libraries/sass_stdlib.xml
/modules/pull101repo/.idea/misc.xml
/modules/pull101repo/.idea/modules.xml
/modules/pull101repo/.idea/.name
/modules/pull101repo/.idea/other.xml
/modules/pull101repo/.idea/pull101repo.iml
/modules/pull101repo/.idea/scopes/scope_settings.xml
/modules/pull101repo/.idea/testrunner.xml
/modules/pull101repo/.idea/vcs.xml
/modules/pull101repo/.idea/workspace.xml
/modules/resolve101meta/.idea/codeStyleSettings.xml
/modules/resolve101meta/.idea/encodings.xml
/modules/resolve101meta/.idea/misc.xml
/modules/resolve101meta/.idea/modules.xml
/modules/resolve101meta/.idea/.name
/modules/resolve101meta/.idea/other.xml
/modules/resolve101meta/.idea/resolve101meta.iml
/modules/resolve101meta/.idea/scopes/scope_settings.xml
/modules/resolve101meta/.idea/testrunner.xml
/modules/resolve101meta/.idea/vcs.xml
/modules/resolve101meta/.idea/workspace.xml
*.pyc
/libraries/mediawiki/.idea/codeStyleSettings.xml
/libraries/mediawiki/.idea/encodings.xml
/libraries/mediawiki/.idea/mediawiki.iml
/libraries/mediawiki/.idea/misc.xml
/libraries/mediawiki/.idea/modules.xml
/libraries/mediawiki/.idea/.name
/libraries/mediawiki/.idea/other.xml
/libraries/mediawiki/.idea/scopes/scope_settings.xml
/libraries/mediawiki/.idea/testrunner.xml
/libraries/mediawiki/.idea/vcs.xml
/libraries/mediawiki/.idea/workspace.xml
/modules/extract101meta/.idea/codeStyleSettings.xml
/modules/extract101meta/.idea/encodings.xml
/modules/extract101meta/.idea/extract101meta.iml
/modules/extract101meta/.idea/inspectionProfiles/profiles_settings.xml
/modules/extract101meta/.idea/inspectionProfiles/Project_Default.xml
/modules/extract101meta/.idea/misc.xml
/modules/extract101meta/.idea/modules.xml
/modules/extract101meta/.idea/.name
/modules/extract101meta/.idea/other.xml
/modules/extract101meta/.idea/scopes/scope_settings.xml
/modules/extract101meta/.idea/testrunner.xml
/modules/extract101meta/.idea/vcs.xml
/modules/extract101meta/.idea/workspace.xml
/modules/extractCommitInformation/.idea/codeStyleSettings.xml
/modules/extractCommitInformation/.idea/encodings.xml
/modules/extractCommitInformation/.idea/extractCommitInformation.iml
/modules/extractCommitInformation/.idea/inspectionProfiles/profiles_settings.xml
/modules/extractCommitInformation/.idea/inspectionProfiles/Project_Default.xml
/modules/extractCommitInformation/.idea/misc.xml
/modules/extractCommitInformation/.idea/modules.xml
/modules/extractCommitInformation/.idea/.name
/modules/extractCommitInformation/.idea/other.xml
/modules/extractCommitInformation/.idea/scopes/scope_settings.xml
/modules/extractCommitInformation/.idea/testrunner.xml
/modules/extractCommitInformation/.idea/vcs.xml
/modules/extractCommitInformation/.idea/workspace.xml
/modules/fragments101meta/.idea/codeStyleSettings.xml
/modules/fragments101meta/.idea/encodings.xml
/modules/fragments101meta/.idea/fragments101meta.iml
/modules/fragments101meta/.idea/inspectionProfiles/profiles_settings.xml
/modules/fragments101meta/.idea/inspectionProfiles/Project_Default.xml
/modules/fragments101meta/.idea/misc.xml
/modules/fragments101meta/.idea/modules.xml
/modules/fragments101meta/.idea/.name
/modules/fragments101meta/.idea/other.xml
/modules/fragments101meta/.idea/scopes/scope_settings.xml
/modules/fragments101meta/.idea/testrunner.xml
/modules/fragments101meta/.idea/vcs.xml
/modules/fragments101meta/.idea/workspace.xml
/modules/matches101meta/.idea/encodings.xml
/modules/matches101meta/.idea/inspectionProfiles/profiles_settings.xml
/modules/matches101meta/.idea/inspectionProfiles/Project_Default.xml
/modules/matches101meta/.idea/matches101meta.iml
/modules/matches101meta/.idea/misc.xml
/modules/matches101meta/.idea/modules.xml
/modules/matches101meta/.idea/.name
/modules/matches101meta/.idea/other.xml
/modules/matches101meta/.idea/scopes/scope_settings.xml
/modules/matches101meta/.idea/testrunner.xml
/modules/matches101meta/.idea/vcs.xml
/modules/matches101meta/.idea/workspace.xml
/modules/matches101meta/list.json
/modules/members/.idea/codeStyleSettings.xml
/modules/members/.idea/encodings.xml
/modules/members/.idea/inspectionProfiles/profiles_settings.xml
/modules/members/.idea/inspectionProfiles/Project_Default.xml
/modules/members/.idea/members.iml
/modules/members/.idea/misc.xml
/modules/members/.idea/modules.xml
/modules/members/.idea/.name
/modules/members/.idea/other.xml
/modules/members/.idea/scopes/scope_settings.xml
/modules/members/.idea/testrunner.xml
/modules/members/.idea/vcs.xml
/modules/members/.idea/workspace.xml
/modules/predicates101meta/.idea/codeStyleSettings.xml
/modules/predicates101meta/.idea/encodings.xml
/modules/predicates101meta/.idea/inspectionProfiles/profiles_settings.xml
/modules/predicates101meta/.idea/inspectionProfiles/Project_Default.xml
/modules/predicates101meta/.idea/misc.xml
/modules/predicates101meta/.idea/modules.xml
/modules/predicates101meta/.idea/.name
/modules/predicates101meta/.idea/other.xml
/modules/predicates101meta/.idea/predicates101meta.iml
/modules/predicates101meta/.idea/scopes/scope_settings.xml
/modules/predicates101meta/.idea/testrunner.xml
/modules/predicates101meta/.idea/vcs.xml
/modules/predicates101meta/.idea/workspace.xml
/modules/pull101repo/.idea/inspectionProfiles/profiles_settings.xml
/modules/pull101repo/.idea/inspectionProfiles/Project_Default.xml
/modules/pull/.idea/codeStyleSettings.xml
/modules/pull/.idea/encodings.xml
/modules/pull/.idea/inspectionProfiles/profiles_settings.xml
/modules/pull/.idea/inspectionProfiles/Project_Default.xml
/modules/pull/.idea/misc.xml
/modules/pull/.idea/modules.xml
/modules/pull/.idea/.name
/modules/pull/.idea/other.xml
/modules/pull/.idea/pull101dev.iml
/modules/pull/.idea/scopes/scope_settings.xml
/modules/pull/.idea/testrunner.xml
/modules/pull/.idea/vcs.xml
/modules/pull/.idea/workspace.xml
/modules/refineTokens/.idea/codeStyleSettings.xml
/modules/refineTokens/.idea/encodings.xml
/modules/refineTokens/.idea/inspectionProfiles/profiles_settings.xml
/modules/refineTokens/.idea/inspectionProfiles/Project_Default.xml
/modules/refineTokens/.idea/misc.xml
/modules/refineTokens/.idea/modules.xml
/modules/refineTokens/.idea/.name
/modules/refineTokens/.idea/other.xml
/modules/refineTokens/.idea/refineTokens.iml
/modules/refineTokens/.idea/scopes/scope_settings.xml
/modules/refineTokens/.idea/testrunner.xml
/modules/refineTokens/.idea/vcs.xml
/modules/refineTokens/.idea/workspace.xml
/modules/refineTokens/Test.py
/modules/pull101repo/gitdeps_local
/modules/resolve101meta/.idea/inspectionProfiles/profiles_settings.xml
/modules/resolve101meta/.idea/inspectionProfiles/Project_Default.xml
/modules/summarizeModuleDescriptions/.idea/codeStyleSettings.xml
/modules/summarizeModuleDescriptions/.idea/encodings.xml
/modules/summarizeModuleDescriptions/.idea/misc.xml
/modules/summarizeModuleDescriptions/.idea/modules.xml
/modules/summarizeModuleDescriptions/.idea/.name
/modules/summarizeModuleDescriptions/.idea/other.xml
/modules/summarizeModuleDescriptions/.idea/scopes/scope_settings.xml
/modules/summarizeModuleDescriptions/.idea/summarizeModuleDescriptions.iml
/modules/summarizeModuleDescriptions/.idea/testrunner.xml
/modules/summarizeModuleDescriptions/.idea/vcs.xml
/modules/summarizeModuleDescriptions/.idea/workspace.xml
/modules/testAllExplorerEntities/results.json
/modules/zip/.idea/codeStyleSettings.xml
/modules/zip/.idea/encodings.xml
/modules/zip/.idea/misc.xml
/modules/zip/.idea/modules.xml
/modules/zip/.idea/.name
/modules/zip/.idea/other.xml
/modules/zip/.idea/scopes/scope_settings.xml
/modules/zip/.idea/testrunner.xml
/modules/zip/.idea/vcs.xml
/modules/zip/.idea/workspace.xml
/modules/zip/.idea/zip.iml
/services/.idea/dictionaries/martin.xml
/services/.idea/inspectionProfiles/Project_Default.xml
/services/.idea/vagrant.xml
*.bak
*.pyc


/modules/validate/subtyping_errors.json
/libraries/mediawiki/.goutputstream-KX73TW
