modules/igraph/bin
.classpath
modules/.metadata
modules/igraph/build
modules/igraph/dist
*.log
pid
modules/wiki2tex/tex/content/data/categories.tex
modules/wiki2tex/tex/content/data/features.tex
modules/wiki2tex/tex/content/data/implementations.tex
modules/wiki2tex/tex/content/data/languages.tex
modules/wiki2tex/tex/content/data/pages.tex
modules/wiki2tex/tex/content/data/technologies.tex
utils.pyc
pipeline.pyc
document.pyc
*.pyc
*~
*.zip
modules/wikitools/tex/sources
modules/wiki2json/.idea
modules/wiki2json/target
jsonExtractor.iml
dump.json
/services/.idea/codeStyleSettings.xml
/services/.idea/encodings.xml
/services/.idea/inspectionProfiles/profiles_settings.xml
/services/.idea/libraries/sass_stdlib.xml
/services/.idea/misc.xml
/services/.idea/modules.xml
/services/.idea/.name
/services/.idea/other.xml
/services/.idea/scopes/scope_settings.xml
/services/.idea/services.iml
/services/.idea/testrunner.xml
/services/.idea/vcs.xml
/services/.idea/workspace.xml
/modules/refineTokens/Helper.pyc
/modules/refineTokens/Oracle.pyc
/modules/refineTokens/PreProcessing.pyc
/modules/refineTokens/Tokenization.pyc
/modules/repo2charts/charts.pyc
/modules/repo2charts/metrics.pyc
/modules/build101/.idea/build101.iml
/modules/build101/.idea/codeStyleSettings.xml
/modules/build101/.idea/dictionaries/martin.xml
/modules/build101/.idea/encodings.xml
/modules/build101/.idea/misc.xml
/modules/build101/.idea/modules.xml
/modules/build101/.idea/.name
/modules/build101/.idea/other.xml
/modules/build101/.idea/scopes/scope_settings.xml
/modules/build101/.idea/testrunner.xml
/modules/build101/.idea/vcs.xml
/modules/build101/.idea/workspace.xml
/modules/pull101repo/.idea/codeStyleSettings.xml
/modules/pull101repo/.idea/encodings.xml
/modules/pull101repo/.idea/libraries/sass_stdlib.xml
/modules/pull101repo/.idea/misc.xml
/modules/pull101repo/.idea/modules.xml
/modules/pull101repo/.idea/.name
/modules/pull101repo/.idea/other.xml
/modules/pull101repo/.idea/pull101repo.iml
/modules/pull101repo/.idea/scopes/scope_settings.xml
/modules/pull101repo/.idea/testrunner.xml
/modules/pull101repo/.idea/vcs.xml
/modules/pull101repo/.idea/workspace.xml
/modules/resolve101meta/.idea/codeStyleSettings.xml
/modules/resolve101meta/.idea/encodings.xml
/modules/resolve101meta/.idea/misc.xml
/modules/resolve101meta/.idea/modules.xml
/modules/resolve101meta/.idea/.name
/modules/resolve101meta/.idea/other.xml
/modules/resolve101meta/.idea/resolve101meta.iml
/modules/resolve101meta/.idea/scopes/scope_settings.xml
/modules/resolve101meta/.idea/testrunner.xml
/modules/resolve101meta/.idea/vcs.xml
/modules/resolve101meta/.idea/workspace.xml
