 <div class="span5 box info-box blue-top">
    <div class="box-header">
        Summary
    </div>
    <div class="box-content">
        <div class="box-content-fragment">
            <b>Headline</b>
            {% if headline %}
                <br/>
                {{ headline }}
            {% else %}
                unresolved
            {% endif %}
        </div>
	    <div class="box-content-fragment">
			<b>Name </b>
			{{ name }}
	    </div>
        <div class="box-content-fragment">
            <b>Namespace </b>
            {{ namespace }}
        </div>
        <div class="box-content-fragment">
            <b>Classifier </b>
            {{ classifier }}
        </div>
        {% if language %}
            <div class="box-content-fragment">
                <b>Language</b>
                {{ language }}
            </div>
        {% endif %}
    </div>
</div>

{% comment %}
  <div class="section">
    <div class="headlinecontainer">
        <h2>Headline</h2>
    </div>
    <div class="section-content">
        {% if headline %}
            <p>{{ headline }}</p>
        {% else %}
            <p>none found</p>
        {% endif %}
        {% if language %}
            <p><b>Language </b>{{ language }}</p>
        {% endif %}
    </div>
</div>

<br>

<div class="section">
    <div class="headlinecontainer">
        <h2>Metadata</h2>
    </div>
    <div class="section-content">
        {% if language %}
            <p><b>Language </b>{{ language }}</p>
        {% endif %}
    </div>
</div>

<br> 
{% endcomment %}