
<div class="span5 box info-box green-yellow-top">
    <div class="box-header">
        Links
    </div>
    <div class="box-content">
        {% if github %}
            <div class="box-content-fragment">
                <b>Github </b>
				<a href="{{ github }}">Link</a>
            </div>
        {% endif %}
        {% if wiki %}
			<div class="box-content-fragment">
                <b>Wiki </b>
                <a href="{{ wiki }}">Link</a>
            </div>
        {% endif %}
	    {% if sesame %}
			<div class="box-content-fragment">
                <b>Triplestore</b>
                <a href="{{ sesame }}">Link</a>
			</div>
	    {% endif %}
    </div>
</div>
{% comment %}
<div class="section">
    <div class="headlinecontainer">
        <h2>Links</h2>
    </div>
    <div class="section-content">
        {% if endpoint %}
            <p><a href="{{ endpoint }}">Endpoint</a></p>
        {% endif %}
        {% if sesame %}
            <p><a href="{{ sesame }}">Sesame</a></p>
        {% endif %}
    </div>
</div>

<br> 
{% endcomment %}