{% if people %}
    <div class="span5 box info-box turquoise-top">
        <div class="box-header">
            People
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <ul>
                    {% for p in people %}
                        <li>
                            {{ p.name }}
                            {% if p.role %}
                                ({{ p.role }})
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
             </div>
        </div>
    </div>
{% endif %}