{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>101explorer</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'discovery/style.css' %}" type="text/css">

	<meta charset="utf-8">
</head>
<body>


<div class="navbar navbar-inverse mavbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://101companies.org/resources?format=html">101explorer</a>

            <!--Menu for copying to clipboard-->
            {% if not classifier == 'Namespace' %}
                <div style="padding-left: 3px;" class="btn-group pull-right">
                    <a id="copy" data-clipboard-target="locator-path" class="btn btn-small btn-inverse"><i class="icon-share icon-white"></i> Copy</a>
                    <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li role="presentation"><a class="copy" id="copy-absolute" data-clipboard-target="locator-path" role="menuitem">Copy absolute locator</a></li>
                        <li role="presentation"><a class="copy" id="copy-relative" data-clipboard-target="relative-path" role="menuitem">Copy telative locator</a></li>
                        <li role="presentation"><a class="copy" id="copy-absolute-markup" data-clipboard-target="with-absolute-markup" role="menuitem">Copy absolute markup</a></li>
                        <li role="presentation"><a class="copy" id="copy-relative-markup" data-clipboard-target="with-relative-markup" role="menuitem">Copy relative markup</a></li>
                    </ul>
                </div>
                <form class="pull-right navbar-search form-horizontal">
                    <div class="input-append">
                        <input id="locator" style="text-align: right;" class="search-query span8" type="text" disabled value="{{ uri }}">
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
</div>

<!-- The clipboard copy targets -->
{% if not classifier == 'Namespace' %}

    <div id="locator-path" style="display:none; visibility: hidden;">
        {{ uri }}
    </div>

    <div id="relative-path" style="display: none; visibility: hidden;">
        {% if not classifier == 'Namespace member' %}
            {{ uri }}
        {% endif %}
    </div>

    <div id="with-absolute-markup" style="display: none; visibility: hidden;">
        {% if not classifier == 'Namespace member' %}
            {% if classifier == 'Folder' %}
               &lt;folder url="{{ uri }}" /&gt;
            {% elif classifier == 'File' %}
                &lt;file url="{{ uri }}" /&gt;
            {% else %}
                &lt;fragment url="{{ uri }}" /&gt;
            {% endif %}
        {% else %}
            &lt;folder url="{{ uri }}" /&gt;
        {% endif %}
    </div>

    <div id="with-relative-markup" style="display: none; visibility: hidden;">
        {% if not classifier == 'Namespace member' %}
            {% if classifier == 'Folder' %}
               &lt;folder url="{{ uri }}" /&gt;
            {% elif classifier == 'File' %}
                &lt;file url="{{ uri }}" /&gt;
            {% else %}
                &lt;fragment url="{{ uri }}" /&gt;
            {% endif %}
        {% else %}
            &lt;folder url="" /&gt;
        {% endif %}
    </div>

{% endif %}

<div class="container">
    <div id="content" class="row">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <a href="http://101companies.org/wiki/@explorer">What's the 101explorer?</a> <br />
        Switch from HTML format to <a href="{{ uri }}">JSON format</a> or <a href="{{ uri }}?format=rdf">RDF format</a>.<br />

        Powered by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
        <a href="http://jquery.com/">JQuery</a> and <a href="http://masonry.desandro.com/">Masonry</a>
    </footer>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://www.steamdev.com/zclip/js/jquery.zclip.min.js"></script>

<script src="{% static 'discovery/js/libs/jquery.masonry.min.js' %}"></script>
{#<script src="{% static 'discovery/js/libs/ZeroClipboard.min.js'}"></script>#}
<script src="{% static 'discovery/js/base.js' %}"></script>
</body>
</html>