contribution no_of_langs no_of_techs no_of_concepts no_of_features

{% for x in data %}
 {{ x['contribution']['value'] }} ; {{ x['no_of_langs']['value'] }} ; {{ x['no_of_techs']['value'] }} ; {{ x['no_of_features']['value'] }}
{% endfor %}