{# note: disabled template because the query does not return anything

paradigm concept number_of_occurences

{% for x in data %}
{{ x['paradigm']['value'] }};{{ x['concept']['value'] }};{{ x['count']['value'] }}
{% endfor %}

#}