{# note: disabled template because the query does not return anything

{% for x in data %}
 {{ x['language']['value'] }} ; {{ x['technology']['value'] }} ; {{ x['count']['value'] }}
{% endfor %}

#}