BeautifulSoup==3.2.1
Django==1.7.1
Jinja==1.2
Jinja2==2.7.3
MarkupSafe==0.23
argparse==1.2.1
ecdsa==0.11
inflect==0.2.4
jsonschema==2.4.0
paramiko==1.15.2
pycrypto==2.6.1
pysftp==0.2.8
python-memcached==1.53
requests==2.5.1
requests-cache==0.4.8
termcolor==1.1.0
wsgiref==0.1.2
uwsgi
