<div class="span5 box info-box blue-top">
    <div class="box-header">
        General
    </div>
    <div class="box-content">
        <div class="box-content-fragment">
            <b>Headline</b>
            {% if headline %}
                <br/>
                {{ headline }}
            {% else %}
                unresolved
            {% endif %}
        </div>
	    <div class="box-content-fragment">
			<b>Name </b>
			{{ name }}
	    </div>
        <div class="box-content-fragment">
            <b>Classifier </b>
            {{ classifier }}
        </div>
        <div class="box-content-fragment">
            <b>Github </b>
            {% if github %}
                <a href="{{ github }}">Link</a>
            {% else %}
                unresolved
            {% endif %}
        </div>
        <div class="box-content-fragment">
            <b>Wiki </b>
            {% if wiki %}
                <a href="{{ wiki }}">Link</a>
            {% else %}
                unresolved
            {% endif %}
        </div>
    </div>
</div>