{% if commits['initiator'] %}
    <div class="span5 box info-box turquoise-top">
        <div class="box-header">
            People
        </div>
        <div class="box-content">
            <div class="box-content-fragment">
                <b>Initiator</b>
                {{ commits['initiator'].decode('utf_8') }}
            </div>
            <div class="box-content-fragment">
                <b>Contributors </b>
                {% if commits['contributors'] %}
                    <ul>
                        {% for contributor in commits['contributors'] %}
                            <li>{{ contributor.decode('utf_8') }}</li>
                        {% endfor %}
                    </ul>
				{% else %}
					None
				{% endif %}
            </div>
        </div>
    </div>
{% endif %}