modules = \
 pull101repo \
 pull101dev \
 pullLibraries \
 gatherGeshi \
 101WikiTo101json \
 wiki101JsonToWiki101Rdf \
 gatherSourceDirectoryMatchingRules \
 sourceDirectoryMatching \
 sourceDirectoryScanning \
 sourceDirectoryFragmentation \
 parseMegaL \
 webDeployMegaModels \
 rebuildXmlCatTree
 
 

