<div class="span5 box info-box crimson-top">
    <div class="box-header">
        Module Description
    </div>
    <div class="box-content">
        {% for target in module['targets'] %}
            <div class="box-content-fragment">
                {% if target.scope == 'file' %}
                    <b>Creates {{ target.headline }} files based on source files (Scope: {{ target.scope }})</b> <br/>
                    {% if target.suffix %}
                        see {{ target.suffix }} files (Language: {{ target.language }})
                    {% endif %}
                {% endif %}
            </div>
            {% if not loop.last %}
                <br/>
            {% endif %}
        {% endfor %}
    </div>
</div>