<!DOCTYPE HTML>
<html>

<head>
<title>101worker visualizer</title>
<style>
div#header{ 
text-align: center;
width: 100%;
}
div#body{ 
width: 100%; 
height: 80%; 
float:left 
} 
div#navigation{ 
width: 20%; 
height: 80%; 
float:left 
} 
div#content{ 
width: 80%; 
height: 600px; 
float:left 
} 
</style>
</head>

<body>

<div id="header">
	<h1>101worker visualizer</h1>
</div>

<div id="body">
<div id="navigation">
	<!-- xxx -->

</div> 
	<div id="content">
		<iframe seamless name="content_frame" width="95%" height="100%" frameborder="0"></iframe>
	</div>
</div> 

<div id="footer"></div>

</body>

</html>
